<div class='row'>
<div class='col-md-4'>
  <div class='panel panel-info'>
	<div class='panel-heading'>
	  <% if !@attendees.nil? and @attendees.count != 0 %>
		<h4 class='white-heading attendees'>Users attending(<%= @attendees.count %>)</h4>
	  <% else %>
		  <h4 class='white-heading'>Invite some users!</h4>
	  <% end %>
	</div>
	<div class='panel-body'>
	  <% if !@attendees.nil? and @attendees.count != 0 %>
		<%= render @attendees %>
	  <% else %>
	    <h4 class='text-warning events-heading'>There are no users attending to this event</h4>
	  <% end %>
	</div>
  </div>
</div>
<div class='col-md-8'>
  <div class='panel panel-info'>
	<div class='panel-heading'>
	  <h4 class="white-heading"><%= @event.title.capitalize %></h4>
	</div>
	<div class='panel-body'>
	  <div class='event-creator'>
		Creator: <%= User.find(@event.creator_id).name %>
	  </div>
	  <div class='event-description'>
		<%= @event.description %>
	  </div>
	  <div class='loc-time'>
		<p class='event-date text-muted'>
		  <span class='glyphicon glyphicon-road'></span> <%= @event.location%>
		</p>
		<p class="event-date">
		  <span class='glyphicon glyphicon-time'></span> <%= @event.date.strftime("%A, %d %b %Y %l:%M %p")%>
		</p>
	  </div>
	</div>
  </div>
  <div class="attend-form">
	<% if @event.date < Time.zone.now %>
	  <h4 class='danger'>This event has already finished!</h4>
	<% else %>
	  <%= render 'attend_form' if logged_in? %>
	<% end %>
  </div>
</div>
</div>
<% if !@attendees.nil? %>
  <div class='row'>
	<%= will_paginate @attendees %>
  </div>
<% end %>
